<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <h2>CONDITIONAL STATEMENT USING THYMELEAF [IF]</h2>
    <p style="font-size: large;" th:if="${num1>num2}">
        <span th:text="${num1} + ' is greater than ' + ${num2}">Number-Comparisons-Answer</span>
    </p>
    <p style="font-size: large;" th:if="${num1<num2}">
        <span th:text="${num2} + ' is greater than ' + ${num1}">Number-Comparisons-Answer</span>
    </p>
</body>
</html>